* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.normal-button {
    padding: 15px 40px;
    background-color: white;
    color: black;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.normal-button .spinner i {
    width: 16px;
    height: 16px;
}

.spinner {
    display: none;
}

.normal-button.loading .spinner {
    display: inline-block;
}
