* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
}

.container {
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: calc(100% - 200px);
}

.long-contents {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.content-item {
  min-height: 400px;
  width: 100%;
  border: 1px solid #000;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background: #91C8E4;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar a {
  color: black;
  font-size: 16px;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

.sidebar a:hover {
  background: #91C8E4;
  color: #6200ea;
}

